body {
  background-color: rgb(242, 242, 242);
}

#content {
  position: relative;

  #textBlock {
    position: absolute;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
  }
}
